{% extends "manager/base.html" %}


{% block content %}
<div id="app" class="card">
  <div class="card-header">
    <h3 class="card-title">功能列表</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>host:port</th>
                <th>覆盖功能</th>
                <th>状态</th>
            </tr>
        </thead>
        <tbody>
        {% for i in all_urls %}
            <tr>
                <td>{{ i.url }}</td>
                <td>{{ i.function }}</td>
                <td>{{ i.state }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
{% endblock %}